flask
flask-cors
flask-wtf
flask-openapi3
flask-swagger-ui
flask-socketio
eventlet
pydantic
pytest
pytest-cov
redis
pika
python-dotenv
schedule
SQLAlchemy
alembic
pymysql
mysql-connector-python
psycopg2-binary
eth-account
web3
tronpy
solana
solders
eth-abi
websockets
hexbytes
bip-utils
mnemonic
pycryptodome
bit
xrpl-py
bitcoinlib
requests
gunicorn
firebase-admin
